<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to Cliff!</title>
      {% endif %}
    </head>
    <body>
        <div>C.L.I.F.F.: <a href="/home">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %} 
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
