<html>
    <body>
        <h1>Create a new account here</h1>   
        <form>
            <fieldset>
                <legend>Account Details</legend>
                Username: <br> 
                <input type='text' name = 'Username'><br>
                Password: <br>
                <input type='text' name = 'Password'><br>
                Name you'd like to be called by: <br>
                <input type='text' name = 'name'><br>
                <input type="submit" value="Submit"> <br>
            </fieldset>
        </form>
        <a href='/login'>Back to login</a> <br>
        <a href='/info'>What is C.L.I.F.F.?</a>
    </body>
</html>